body {
	margin-top:  8px;
}
.page-content {
	width: 50%;
	margin:  0 auto;
	/* background:white; */
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	-o-justify-content: center;
	-ms-justify-content: center;
	-moz-justify-content: center;
	-webkit-justify-content: center;
	align-items: center;
	-o-align-items: center;
	-ms-align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
}
@media(max-width:1000px) {
    .page-content {
        width: 80%;
        margin-top: -100px;
    }
}

@media(max-width:900px) {
    .page-content {
        width: 80%;
        margin-top: -118px;
    }
}

@media(max-width:500px) {
    .page-content {
        width: 88%;
    }
}
.form-left-last
{
	text-align: center;
}
.form-control{
    border-color:#41729F;
    background-color:white ;
    box-shadow: #41729F;
    font-weight: 500;
}

.signup-image{
	width: 509;
	height: 500px;
	margin-bottom: 20px;
}
@media(max-width:625px){
	.signup-image{
		display: none;
	}
}
.form-v4-content  {
	background: #fff;
	width: 1020px;
	border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-o-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
	margin: 5px 0;
	position: relative;
	display: flex;
	display: -webkit-flex;
	font-family: 'Open Sans', sans-serif;
}
.required{
	color: red;
	font-size: 20px;
}
.required-term{
	color: red;
}
.form-v4-content h2 {
	font-weight: 700;
	font-size:38px;
	padding: 6px 0 0;
	color: #41729F;
	margin-bottom: 34px;
	margin-top: -86px;
}
.form-v4-content .form-left {
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	padding: 80px 40px;
	position: relative;
	width: 100%;
	/* color: #fff; */
	/* background: #aa946a; */
}
.form-v4-content .form-left p {
	font-size: 15px;
	font-weight: 300;
	line-height: 1.5;
}
.form-v4-content .form-left span {
	font-weight: 700;
}
.form-v4-content .form-left .text-2 {
	margin: 20px 0 25px 0;
}
.form-v4-content .form-left .text-1{
	margin: -15px 0 25px 0;
	font-size: 20px;
	font-size: 600;
	text-align: center;
}
.form-v4-content .form-left .account {
	background-color: #41729F;
	padding: 20px;
	border-radius: 50px;
	width: 180px;
	/* margin-right: 3px; */
	border: none;
	/* margin: 15px 0 50px 0px; */
	padding: 14px;
    padding-left: 30px;
    padding-right: 30px;
	cursor: pointer;
	border: 1px solid #41729F;
	color: white;
	text-decoration: none;
	font-weight:800;
	text-decoration: none;
	font-size: 15px;
	font-family:'Open Sans', sans-serif;
	appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline:none;
    -ms-outline: none;
}
.form-v4-content .form-left .account:hover {
	background: #fff;
	color: #41729F;
}
.form-v4-content .form-left .form-left-last input{
	padding: 14px;
	font-size:medium;
	font-weight:700;
	background-color: #41729F;
	color: #fff;
	/* margin-top: 20px; */
}
.form-v4-content .form-detail {
    padding: 20px 40px;
	position: relative;
	width: 100%;
}
.form-v4-content .form-detail h1 {
	color: #41729F;
	padding-top: 0px;
	font-weight: 700;
	margin-top: -3px;
}
.form-v4-content .form-detail .form-group {
	display: flex;
	display: -webkit-flex;
	margin:  0 -8px;
}
.form-v4-content .form-detail .form-row {
	width: 100%;
	position: relative;
}
.form-v4-content .form-detail .form-group .form-row.form-row-1 {
	width: 50%;
	padding: 0 8px;
}
.form-v4-content .form-detail label {
	font-weight: 600;
	font-size: 15px;
	color:black;
	display: block;
	margin-bottom: 8px;
}
.form-v4-content .form-detail .form-row label#valid {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background: #53c83c;
}
.form-v4-content .form-detail .form-row label#valid::after {
	content: "";
    position: absolute;
    left: 5px;
    top: 1px;
    width: 3px;
    height: 8px;
    border: 1px solid #fff;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

.form-v4-content .form-detail .form-row label.error {
	padding-left: 0;
	margin-left: 0;
    display: block;
    position: absolute;
    bottom: -5px;
    width: 100%;
    background: none;
    color: red;
}

.form-v4-content .form-detail .form-row label.error::after {
    content: "\f343";
    font-family: "LineAwesome";
    position: absolute;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    right: 10px;
    top: -31px;
    color: red;
    font-size: 18px;
    font-weight: 900;
}
.form-v4-content .form-detail label.error {
    color: red;
}
.form-v4-content .form-detail .input-text {
	margin-bottom: 27px;
}
.form-v4-content .form-detail input {
	width: 100%;
    padding: 11.5px 15px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    appearance: unset;
    -moz-appearance: unset;
    -webkit-appearance: unset;
    -o-appearance: unset;
    -ms-appearance: unset;
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
    -o-outline: none;
    -ms-outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color:black;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}
.form-v4-content .form-detail .form-row input:focus {
	border: 1px solid #53c83c;
}
.form-v4-content .form-detail .form-checkbox {
	margin-top: 0px;
	position: relative;
}
.form-v4-content .form-detail .form-checkbox input {
	position: absolute;
    opacity: 0;
}
.form-v4-content .form-detail .form-checkbox .checkmark {
	position: absolute;
    top: 13px;
    left: 0;
    height: 15px;
    width: 15px;
    border: 1px solid #ccc;
    cursor: pointer;
}


.form-v4-content .form-detail .form-checkbox .checkmark::after {
	content: "";
    position: absolute;
    left: 5px;
   	top: 1px;
    width: 3px;
    height: 8px;
    border: 1px solid #41729F;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    display: none;
}
.form-v4-content .form-detail .form-checkbox input:checked ~ .checkmark::after {
    display: block;
}
.form-v4-content .form-detail .form-checkbox p {
    margin-left: 34px;
    color: #333;
    font-size: 14px;
    font-weight: 600;
}
.form-v4-content .form-detail .form-checkbox .text {
	font-weight: 700;
	color: #41729F;
	text-decoration: underline;
}
/* .form-v4-content .form-detail .form-radio input[type=radio]{
	width: 2%;
} */
.form-v4-content .form-detail .register {
	background: #41729F;
	border-radius: 50px;
	width: 130px;
	border: none;
	margin: 6px 0 50px 0px;
	cursor: pointer;
	color: #fff;
	font-weight: 700;
	font-size: 15px;
	text-decoration: none;
}
.form-v4-content .form-detail .register {
	display: block;
	width: 100%;
	border: none;
	background-color: #41729F;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}
.form-v4-content .form-detail .register:hover {
   background-color: white;
   color: #41729F;
	padding: 14px 28px;
   border: 1px solid #41729F;
    
}	
.form-v4-content .form-detail .backtohome {
	background: #41729F;
	border-radius: 50px;
	width: 130px;
	border: none;
	margin: 0 0 50px 0px;
	margin-top: 0;
	cursor: pointer;
	color: #fff;
	font-weight: 700;
	font-size: 15px;
	text-decoration: none;
}
.form-v4-content .form-detail .backtohome {
	display: block;
	width: 100%;
	border: none;
	background-color: #41729F;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}
.form-v4-content .form-detail .backtohome:hover {
   background-color: white;
   color: #41729F;
	padding: 14px 28px;
   border: 1px solid #41729F;
    
}	



.form-v4-content .form-detail .form-row-last input {
	padding: 50.5px;
}

/* Responsive */
@media screen and (max-width: 991px) {
	.form-v4-content {
		margin: 180px 20px;
		flex-direction:  column;
		-o-flex-direction:  column;
		-ms-flex-direction:  column;
		-moz-flex-direction:  column;
		-webkit-flex-direction:  column;
	}
	.form-v4-content .form-left {
		width: auto;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 0;
	}
	.form-v4-content .form-detail {
		padding: 30px 20px 30px 20px;
	    width: auto;
	}
}
@media screen and (max-width: 575px) {
	.form-v4-content .form-detail .form-group {
		flex-direction: column;
		-o-flex-direction:  column;
		-ms-flex-direction:  column;
		-moz-flex-direction:  column;
		-webkit-flex-direction:  column;
		margin: 0;
	}
	.form-v4-content .form-detail .form-group .form-row.form-row-1 {
		width: 100%;
		padding:  0;
	}
	
}
@media(max-width:350px){
	.form-v4-content h2{
		font-size: 1.5rem;
		margin-top: -20px;
	}
	.form-v4-content .form-left p {
		font-size: 12px;
		margin-top: -2px;
	}
	.form-left-last{
		height: 10px;
		width: 0px;
	}
	.form-v4-content .form-left .form-left-last input {
		padding: 16px;
		font-size:1rem;
		font-weight:700;
		/* margin-left: -25px; */
	}
	.form-v4-content .form-left .text-1 {
		margin: -20px 0 25px 0;
	}
		.form-v4-content .form-left .text-2 {
			margin: -10px 0 25px 0;
		}
	
}
@media(max-width:356px){
	.form-v4-content .form-detail h1{
		font-size: 1.3rem;
		
	}
}
@media(max-width:275px){
	.form-v4-content h2{
		font-size: 1rem;
		margin-top: -40px;
	}
	.form-v4-content .form-left p {
		font-size: 10px;
		margin-top: -2px;
	}
	.form-v4-content .form-left .form-left-last input {
		font-size:10px;
		width: 120px;
	
	}
	.form-v4-content .form-detail label{
		font-size: 13px;
	}



}
@media(max-width:290px){
	.form-v4-content .form-detail .form-row label.error {
		font-size: 10px;
	}
}
@media(max-width:247px){
	.form-v4-content .form-detail h1{
		font-size: 1rem;
	}
}
@media(max-width:230px){
	.form-v4-content h2{
		font-size: 13px;
	}
	.form-v4-content .form-left p{
		font-size: 8px;
	}
	

}